<div class="card">
    <div class="text-center">
<h1>Speaker Data </h1>
  <label for="">ID</label> : {{spk._id}}  <br>
  <label for="">Email</label> : {{spk.Email}} <br>
  <label for="">Password</label> : {{spk.Password}} <br>
  <label for="">UserName</label> : {{spk.UserName}} <br>
  <label for="">City</label> : {{spk.City}} <br>
  <label for="">Street</label> : {{spk.Street}} <br>
  <label for="">Building</label> : {{spk.Building}} <br>
  <a class="btn btn-primary" [routerLink]="['/Speakers/Update',spk._id]">Edit Profile</a>

  
</div>
</div>

