<table class="table bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>EventDate</th>
            <th>MainSpeaker(ID)</th>
            <th>Speakers(IDs)</th>
            <th>Students(IDs)</th>
            <th>Operations</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ev of evs">
            <td >{{ev._id}}</td>          
            <td>{{ev.Title}}</td>
            <td>{{ev.EventDate}}</td>
            <td>{{ev.mainSpeaker}}</td>
            <td>{{ev.speakers}}</td>
            <td>{{ev.students}}</td>

            <td>
                <a [routerLink]="['/Events/Update',ev._id]" class="btn btn-primary">Update</a>
                <a [routerLink]="['/Events/Delete',ev._id]" class="btn btn-danger">Delete</a>
            </td>
            
        </tr>

    </tbody>
</table>

<a [routerLink]="['/Events/Add']" class="btn btn-primary">Add Event</a>




