<div id="content" style="width:800px">

    <div id="topheader">

    <div id="submenu">
        <div align="right"  style="padding:9px; font-size: large;">
            <!-- <a [routerLink]="['home']">Home</a> 
            | <a routerLink="/about">About</a> 
            | <a routerLink="/contact">Contact</a>  -->
            <h1>Admin Home</h1>

            <a class="btn btn-secondary" style="padding:9px; margin-bottom: 50px; font-size: 30px;" routerLink="/Students">Student List</a><br>
            <a class="btn btn-secondary" style="padding:9px; margin-bottom: 50px; font-size: 30px;" routerLink="/Speakers">Speaker List</a><br>
            <a class="btn btn-secondary" style="padding:9px; margin-bottom: 30px; font-size: 30px;" routerLink="/Events">Event List</a>
            
            
        </div>
    </div>
    <div id="contenttext">

            <div class="bodytext" style="padding:12px;" align="justify">
            <br />
           </div>
    </div>
</div>
