<label  for="">ID</label> <input [(ngModel)]="spk._id" [disabled]="true"  class="form-control"  type="text"> <br>
<label  for="">Number</label> <input [(ngModel)]="spk.ID" [disabled]="true"  class="form-control"  type="text"> <br>
<label  for="">Email</label><input [(ngModel)]="spk.Email"  class="form-control"  type="text"> <br>
<label  for="">Password</label><input [(ngModel)]="spk.Password" [disabled]="true" class="form-control"  type="text"><br>
<label  for="">UserNAme</label><input [(ngModel)]="spk.UserName" [disabled]="true" class="form-control"  type="text"><br>
<label  for="">City</label><input [(ngModel)]="spk.City" class="form-control"  type="text"><br>
<label  for="">Street</label><input [(ngModel)]="spk.Street" class="form-control"  type="text"><br>
<label  for="">Building</label><input [(ngModel)]="spk.Building" class="form-control"  type="text"><br>
<button class="btn btn-primary" (click)="Save()">Save</button> 

